body {
    background-color: rgb(255, 231, 242);
}

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title.index {
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}

.title {
    font-size: 48px;
    background-color: rgb(255, 54, 148);
    color: rgb(255, 231, 242);
}

p,
.bullet,
.numbered,
.button {
    font-size: 20px;
}

.heading {
    font-size: 24px;
    color: rgb(255, 54, 148);
}